* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
a {
    text-decoration: underline;
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    width: 100%;

    display: flex;
    flex-direction: column;
}
/*CABEÇALHO*/
header {
    text-align: center;
    justify-content: center;
    min-height: 3rem;
    height: auto; 
    width: 100%;
}
header > h1 {
    font-size: 1.5rem;
    width: auto;
    margin: 0 auto ;
    margin-top: 1.2rem;
}
#nav {
    width: 100%;
    height: auto;
}/*
#nav-button {
    cursor: pointer;
    float: left;
    display: flex;

    font-weight: 600;

    height: 2rem;
    width: 2rem;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    margin: 0.2rem;

    background: #fff;
    color: #000;
    border-color: #000;

}
.menu {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.menu::after,
.menu::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
#nav-ul {
    display: flex;
    gap: 32px;
    list-style: none;

    opacity: 0;
    transform: translateY(-120%);
    transition: all 500ms ease-out;


    background: #000;
}

#nav-ul > a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}
*/
/*BOTÕES BAIXAR-IMPORTAR*/
#baixar-importar {
    display: flex;
    float: right
}
#baixar-importar > button {
    height: 2rem;
    width: 6rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    margin: 0.2rem;
    cursor: pointer;
}
/*CORPO*/
main {
    width: 100%;
    max-width: 900px;
    padding: 3% 3%;
    border-radius: 10px;
    margin: 0.5rem auto;
    flex-grow: 1;
}
/*CAIXA NOME*/
.input-processo {
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.7rem;

    border: none;
    border-radius: 5px;
    width: 70%;
}
/*BOTÃO ADICIONAR*/
.button-add-processo {
    float: right;
    cursor: pointer;
    
    font-size: 100%;
    font-weight: 700;

    height: 2.5rem;
    width: 25.5%;
    padding: 1%;
    border: none;
    border-radius: 5px;
}
.button-add-processo:hover {
    opacity: 0.8;
}
.button-add-processo:active {
    opacity: 0.6;
}
/*TABELA*/
.list-processos {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    
}
tr {
    
}
th, td {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;

    padding: 0.2rem;
    
}
/*TITULO TABELA*/
#titulo{
    font-size: 0.8rem;
    text-align: center;
    height: 30px;
    padding: 0 15px;
    margin-bottom: 10px;
}
/*TAREFAS*/
.processo {
    font-size: 0.9rem;
    text-align: center;
    height: 1rem;
    padding: 0;
    margin: 6px 0;
    cursor: pointer;
}
.processo:hover .icone {
    opacity: 1;
}
.icone {
    height: 1.7rem;
    width: 1.7rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.obs {
    overflow: hidden;
    max-width: 300px;
}
.c1 {
    width: 30%;
}
.c2 {
    width: 20%;
}
.c3 {
    width: 20%;
}
.c4 {
    width: 20%;
}
.c5 {
    width: 10%;
}
/*RODAPÉ*/
footer {
    text-align: center;
    height: 5rem;
    width: 100%;

    padding: 1.2rem 0;
    margin: 50px 0 0 0;
}
footer > p {
    font-size: 0.8rem;
}
@media screen and (max-width: 900px){
    main {
        border-radius: 0;
    }
}
@media screen and (max-width: 600px){
    #titulo {
        font-size: 0.8rem;
    }
    .processo {
        font-size: 0.8rem;
    }
    .obs {
        overflow: scroll;
        max-width: 200px;
    }
}
@media screen and (max-width: 400px){
    header {
        height: 4.6rem;
    }
    header > h1 {
        font-size: 1rem;
    }
    #baixar-importar {
        display: block;
        float: none;
        text-align: center;
    }
    #baixar-importar > button {
        height: 1.6rem;
        width: 4rem;
        font-size: 0.6rem;
    }
    .input-processo {
        font-size: 0.8rem;
        height: 1.7rem;
    }
    .button-add-processo {
        font-size: 0.8rem;
        overflow: hidden;
        height: 1.7rem;  
    }
    #titulo {
        font-size: 0.5rem;
    }
    .processo {
        height: auto;
        font-size: 0.6rem;
    }
    
}
