* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
a {
    text-decoration: none;
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    width: 100%;

    display: flex;
    flex-direction: column;
}
/*CABEÇALHO*/
header {
    text-align: center;
    justify-content: center;
    min-height: 3rem;
    height: 5.6rem; 
    width: 100%;
}
header > h1 {
    font-size: 1.5rem;
    width: auto;
    margin: 0 auto ;
    margin-top: 1.2rem;
}
/*CORPO*/
main {
    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 3% 3%;
    border-radius: 10px;
    margin: 0.5rem auto;
    flex-grow: 1;
}
h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
main > p {
    
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.3rem 0;
}
#caixa1 {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.1rem;
    margin: 2px 0;
}
.campos {
    border: 0.1px solid;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    margin: 0.2px 0.2px;
}
.campos > input {
    padding: 0.05rem 0.2rem;
    border: 0.1rem solid;
    border-radius: 5px;
}
.campos > input:nth-of-type(date) {
    max-width: 30px;
}
.campos > select {
    padding: 0.05rem 0.2rem;
    border: 0.1rem solid;
    border-radius: 5px;
}
input:focus, button:focus, select:focus {
    font-weight: 600;
}
#caixa2 {
    margin: 2px;
}
.bSalvar, .bVoltar {
    text-align: center;

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;
    
    height: 2rem;
    width: 10rem;
    
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0.2rem;
}
#confirmacao {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.button-ver-hists {
    text-align: center;
    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;
    
    height: 2rem;
    width: 10rem;
    
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 0.3rem auto;
}
#caixa3 {
    text-align: left;
    display: none;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));*/
    
}
.historicos > label {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: 600;
    width: 10%;
}
.historicos > input:nth-of-type(1) {
    text-align: center;
    width: 25%;
}
.historicos > input:nth-of-type(2) {
    padding: 0 0.5rem;
    width: 60%;
    overflow: scroll;
}
#caixa5 {
    display: none;
}
/*RODAPÉ*/
footer {
    text-align: center;
    height: 5rem;
    width: 100%;

    padding: 1.2rem 0;
    margin: 50px 0 0 0;
}
footer > p {
    font-size: 0.8rem;
}
footer > p > a {
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    main {
        border-radius: 0;
    }
}
@media screen and (max-width: 600px){
    #tarefa {
        width: 8rem;
    }
    #caixa3 {
        grid-template-columns: 1fr;
        /*grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));*/
    }
}
    
@media screen and (max-width: 400px){
    header {
        height: 4.6rem;
    }
    header > h1 {
        font-size: 1rem;
    }

    main > p {
        font-size: 0.7rem;
        overflow: auto;
    }
   
    
}