:root {
    --marinho:  #070C26;
    --forte: #07338C;
    --claro: #5F49F2;
    --cinza: #69788C;
    --branco: #F2F2F2;
    --preto: #000000;
    --concluida: #b5d673;
    --salva: #043b01;
}
.geral {
    background-color: var(--branco);
    header {
        color: var(--branco);
        background-color: var(--forte);
    }
    main {
        background-color: var(--cinza);
    }
    main > p {
        color: var(--branco);
        background-color: var(--marinho);
    }
    footer {
        color: var(--branco);
        background-color: var(--forte);
    }
    footer > p > a{
        color: var(--branco);
    }
    input:focus, button:focus, select:focus {
        border-color: var(--claro);  /* Altere para a cor desejada */
    }
}
#index {
    .baixar-importar-buttons {
        color: var(--branco);
        background-color: var(--forte);
    }
    .baixar-importar-buttons:hover {
        color: var(--branco);
        background-color: #0e46b6;
    }
    #sessao-baixar {
        background-color: var(--forte);
    }
    .opcs-baixar {
        background-color: var(--branco);
        color: var(--marinho);
        border-color: var(--branco);
    }
    .button-add-processo {
        background-color: var(--forte);
        color: var(--branco);
    }
    th {
        background-color: rgb(218, 218, 218);
    
    }
    .processo {
        background-color: var(--branco);
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    }
    .concluido {
        background-color: var(--concluida);
    }
}
#painel {
    #recebOP {
        color: var(--forte);
    }
    .campos {
        border-color: var(--forte);
        background-color: var(--marinho);
    }
    .campos > label {
        color: var(--branco);
    }
    .campos > input {
        color: var(--marinho);
        background-color: var(--branco);
    
    }
    .campos > select {
        color: var(--marinho);
        background-color: var(--branco);
    }
    option:focus {
        background-color: var(--cinza);
    }
    #confirmacao {
        color: var(--salva);
    }
    .bSalvar, .bVoltar, .button-ver-hists {
        color: var(--branco);
        background-color: var(--forte);
    }
    .bSalvar:hover, .bVoltar:hover, .button-ver-hists:hover{
        color: var(--branco);
        background-color: hsl(220, 95%, 63%);
    }
}
#ajuda {
    section {
        border-color: var(--marinho);
        background-color: var(--branco);
        color: var(--marinho);
        h2 {

        }
        p, li {

        }
        ul {

        }
    }
}








