:root {
    --marinho:  #070C26;
    --forte: #07338C;
    --claro: #5F49F2;
    --cinza: #69788C;
    --branco: #F2F2F2;
    --preto: #000000;
    --concluida: #b5d673;
}
body{
    background-color: var(--branco);
}
header {
    color: var(--branco);
    background-color: var(--forte);
}
#containerJson > button {
    color: var(--branco);
    background-color: var(--forte);
}
#containerJson > button:hover {
    color: var(--branco);
    background-color: #0e46b6;
}
main {
    background-color: var(--cinza);
}
.button-add-task {
    background-color: var(--forte);
    color: var(--branco);
}
th {
    background-color: rgb(218, 218, 218);

}
.task {
    background-color: var(--branco);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}
.done {
    background-color: var(--concluida);
}

footer {
    color: var(--branco);
    background-color: var(--forte);
}
footer > p > a{
    color: var(--branco);
}
