:root {
    --marinho: #181717;
    --forte: #3a3a3a;
    --claro: #fa938e;
    --cinza: #b6b6b6;
    --branco: #FFFFFF;
    --preto: #000000;
    --concluida: #b5d673;
    --salva: #043b01;
    --buttonsHover: #575656;

    --vermelho: #e1251b;
    --amarelo: #da941d;
    --amarelo-claro: #fff172;
}
.geral {
    background-image: url(../assets/vasco-banner.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100% 100%;
    header {
        color: var(--claro);
        background-color: transparent;
        backdrop-filter: blur(20px);
    }
    nav {
        background-color: transparent;
        backdrop-filter: blur(20px);
    }
    main {
        background-color: var(--cinza);
    }
    main > p {
        color: var(--branco);
        background-color: var(--marinho);
    }
    footer {
        color: var(--branco);
        background-color: transparent;
        backdrop-filter: blur(20px);
    }
    footer > p > a{
        color: var(--branco);
    }
    input:focus, button:focus, select:focus {
        border-color: var(--amarelo);  /* Altere para a cor desejada */
    }
}
#index {
    #container-config {
        border-color: var(--amarelo);
        background-color: var(--forte);
    }
    .baixar-importar-buttons, #temas > select {
        color: var(--branco);
        background-color: var(--forte);
        border-color: var(--amarelo);
    }
    .baixar-importar-buttons:hover {
        color: var(--branco);
        background-color: var(--buttonsHover);
        border-color: var(--amarelo);
    }
    #opcs-baixar-container, #sessao-baixar {
        background-color: var(--forte);
    }
    .opcs-baixar {
        background-color: var(--branco);
        color: var(--marinho);
        border-color: var(--branco);
    }
    .opcs-baixar:hover, .opcs-baixar:focus {
        background-color: var(--claro);
    }
    #button-add-processo {
        background-color: var(--forte);
        color: var(--branco);
    }
    #titulo > div {
        color: var(--branco);
        background-color: var(--forte);
    }
    .cliente-titulo {
        background-color: var(--amarelo-claro);
    
    }
    .processo {
        background-color: var(--branco);
    }
    h3 {
        color: var(--branco);
        background-color: var(--forte);
    }
    .concluido {
        background-color: var(--concluida);
    }
}
#painel {
    #recebCliente {
        color: var(--marinho);
        background-color: var(--cinza);
    }
    .campos {
        border-color: var(--forte);
        background-color: var(--forte);
    }
    .campos > label {
        color: var(--branco);
    }
    .campos > input {
        color: var(--marinho);
        background-color: var(--branco);
    }
    .campos > select {
        color: var(--marinho);
        background-color: var(--branco);
    }
    option:focus {
        background-color: var(--cinza);
    }
    #sub-confirmacao {
        background-color: var(--concluida);
        color: var(--salva);
        border-color: var(--salva);
    }
    .bSalvar, .bVoltar, .button-ver-hists {
        color: var(--amarelo);
        background-color: var(--forte);
    }
    .bSalvar:hover, .bVoltar:hover, .button-ver-hists:hover{
        color: var(--amarelo);
        border-color: var(--amarelo);
        background-color: var(--buttonsHover);
    }
}
#config {
    section {
        background-color: var(--branco);
    }
    #button-criar, 
    #button-etapa {
        background-color: var(--marinho);
        color: var(--branco);
        border-color: var(--amarelo);
    }
    #button-criar:hover,
    #button-etapa:hover {
        background-color: var(--buttonsHover);
    }
    #voltar {
        background-color: var(--forte);
        border-color: var(--amarelo);
    }
    .clientes {
        color: var(--branco);
        border-color: var(--claro);
        background-color: var(--marinho);
    }
    .excluir,
    .mudarFiliais {
        border-color: var(--claro);
    }
    .excluir:hover,
    .mudarFiliais:hover,
    .mudarNome:hover {
        background-color: var(--buttonsHover);
    }
    .cliente-filiais {
        background-color: var(--forte);
    }
    #mudarNome-cancelar,
    #mudarNome-salvar {
        border-radius: 5px;
        cursor: pointer;
    }
    #mudarNome-cancelar {
        background-color: #ec5555;
        border: 1px solid #7c0000;
    }
    #mudarNome-cancelar:hover {
        background-color: #f10e0e;
    }
    #mudarNome-salvar {
        background-color: #55ec61;
        border: 1px solid #007009;
    }
    #mudarNome-salvar:hover {   
        background-color: #0edb20;
    }
    .caixa-mudarNome {
        background-color: var(--branco);
        border-color: var(--forte);
    }
    #receber-avisos {
        border-color: var(--marinho);
    }
}
#ajuda {
    section {
        border-color: var(--marinho);
        background-color: var(--branco);
        color: var(--marinho);
        h2 {

        }
        p, li {

        }
        ul {

        }
    }
}