* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    width: 100%;

    display: flex;
    flex-direction: column;
}
/*CABEÇALHO*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem; 
    width: 100%;
}
header > h1 {
    font-size: 1.5rem;
    height: auto;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: auto;
}
/*CORPO*/
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3%;
    width: 100%;
    max-width: 900px;
    padding: 2% 2%;
    border-radius: 10px;
    margin: 0.5rem auto;
    flex-grow: 1;
}
section {
    background-color: #f2f2f2;
    padding: 0.3rem 0.9rem;
    border-radius: 10px;
}
section > p {
    text-align: center;
    margin: 0.5rem 0;
}

.clientes {
    display: grid;
    grid-template-columns: 10% 30% 20% 20% 20%;
    text-align: center;
}
#excluir-selecionados {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}
#excluir-selecionados > span {
    font-weight: 600;
    margin: 0 2px;
}
.clientes > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    font-size: 0.9rem;
}

#sub-section-2-1 {
    display: grid;
    grid-template-columns: 70% 27%;
    gap: 3%;
    margin-bottom: 0.5rem;
}

#sub-section-2-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3px;
    
}
.filiais {
    width: 100%;
}

/*RODAPÉ*/
footer {
    text-align: center;
    height: 5rem;
    width: 100%;

    padding: 1.2rem 0;
    margin: 1rem 0 0 0;
}
footer > p {
    font-size: 0.8rem;
}
@media screen and (max-width: 900px){
    main {
        border-radius: 0;
    }
}
@media screen and (max-width: 600px){

}
@media screen and (max-width: 400px){
    header {
        height: 4.6rem;
    }
    header > h1 {
        font-size: 1rem;
    }
}
