* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;

  width: 100%;

  display: flex;
  flex-direction: column;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
  display: none;
  z-index: 900;
  user-select: none;
}
/*CABEÇALHO*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
}
header > h1 {
  font-size: 1.5rem;
  height: auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: left;

  width: 100%;
  height: auto;
  padding: 0.2rem 5%;
}
#voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  border: 0.15rem solid;
  border-radius: 10px;
  cursor: pointer;
}
#voltar > img{
  width: 25px;
  height: auto;
}
/*CORPO*/

main {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(10rem, 1fr);
  grid-template-areas: 
    "section3 section2"
    "section1 section1";
  gap: 2%;
  width: 100%;
  max-width: 900px;
  padding: 2% 2%;
  border-radius: 10px;
  margin:  0.5rem auto;
  flex-grow: 1;
}
#section-1 {
  grid-area: section1;
}
#section-2 {
  grid-area: section2;
}
#section-3 {
  grid-area: section3;
}
section {
  background-color: #f2f2f2;
  padding: 0.5rem 0.9rem 0.9rem 0.9rem;
  border-radius: 10px;
}
section > p {
  text-align: center;
}

.clientes {
  display: grid;
  grid-template-columns: 40% 17% 17% 26%;
  text-align: center;

  border: 0.1rem solid black;
  border-radius: 5px;
  margin-top: 5px;
}
.clientes > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.clientesNome {
  overflow-x: hidden;
}
.excluir {
  border-left: 0.1rem solid;
  border-right: 0.1rem solid;
  cursor: pointer;
  user-select: none;
}
.mudarFiliais {
  border-right: 0.1rem solid;
  cursor: pointer;
  user-select: none;
}
.mudarNome {
  cursor: pointer;
}
.cliente-filiais {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;

  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  margin-bottom: 10px;
}
.cliente-filiais > input,
.cliente-filiais > button {
  width: 10rem;
  border: 0.1rem solid black;
  border-radius: 5px;
  text-align: center;
}
.caixa-mudarNome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 20px;
  border: 0.2rem solid;
  border-radius: 10px;
  background-color: #f2f2f2;
  z-index: 901;
}
.caixa-mudarNome > p {
  text-align: center;
}
.mudarNome-input {
  display: block;
  width: 80%;
  padding-left: 2rem;
  margin: 10px auto;
}
#mudarNome-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
#mudarNome-buttons > button {
  width: 7rem;
  font-weight: 500;
}
#section-2 > p {
  margin-bottom: 0.3rem;
}
#sub-section-2-1 {
  display: grid;
  grid-template-columns: 70% 27%;
  gap: 3%;
  margin-bottom: 0.5rem;
}
#sub-section-2-1 > input {
  padding-left: 5px;
  font-size: 0.9rem;
  border: 0.1rem solid black;
  border-radius: 5px;
}
#button-criar {
  font-weight: 600;
  padding: 0.2rem;
  border: 0.1rem solid;
  border-radius: 5px;
  cursor: pointer;
}
#sub-section-2-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 3px;
}
#sub-section-2-2 > input {
  padding-left: 5px;
  font-size: 0.9rem;
  border: 0.1rem solid black;
  border-radius: 5px;
}
.filiais {
  width: 100%;
}
#sub-section-3-1 {
  margin: 0.5rem 0;    
}
#sub-section-3-1 > div {
  display: grid;
  grid-template-columns: 80% 20%;
  font-size: 1rem;
}
#config-avisos > label {
  font-size: 0.9rem;
  text-align: center;
}
#receber-avisos {
  all: unset;
  height: 1.2rem;
  width: 1.2rem;
  justify-self: left;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
#receber-avisos:checked {
  background-image: url(../assets/checked.png);
  background-size: cover;
}
#cont-add-etapa {
  display: grid;
  grid-template-columns: 60% 38%;
  gap: 2%;
  margin: 0.4rem 0 0.5rem 0;
}
#input-etapa {
  border: 0.1rem solid black;
  height: 1.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
}
#button-etapa {
  font-weight: 600;
  height: 1.5rem;
  border: 0.1rem solid;
  border-radius: 5px;
  cursor: pointer;
}
.cont-etapas {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;

  font-size: 0.9rem;
  padding: 0.2rem 0;
  border: 0.1rem solid #000000;
  border-radius: 5px;
  margin-bottom: 0.2rem;
}
.etapa {
  text-align: center;
}
.cont-excluir-etapa {
  display: flex;
  align-items: center;
  justify-content: center;
} 
.excluir-etapa {
  height: 1.1rem;
  width: auto;
}
/*RODAPÉ*/
footer {
  text-align: center;
  height: 5rem;
  width: 100%;

  padding: 1.2rem 0;
  margin: 1rem 0 0 0;
}
footer > p {
  font-size: 0.8rem;
}
@media screen and (max-width: 900px) {
  main {
    border-radius: 0;
  }
}
@media screen and (max-width: 750px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      
      "section3"
      "section2"
      "section1"
      ;
  }
}
@media screen and (max-width: 600px) {
  nav {
    padding: 0.2rem 5%;
  }
}
@media screen and (max-width: 400px) {
  header {
    height: 4.6rem;
  }
  header > h1 {
    font-size: 1rem;
  }
}
